{% extends "base.html" %}

{% block title %}ナビゲーション{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">ナビゲーション</h4>

<p>
	<h6 class="mt-3 border-bottom">bootstrap-treeview</h6>
	<div style="float: right" id="select_node1"></div><br>
	<div id="navigation"></div>
</p>

<p>
	<h6 class="mt-3 border-bottom">vuetify Treeview</h6>
	<div style="float: right" id="select_node2"><font color="red">初回選択でイベントが発行されないのはなぜ?</font></div><br>
	<div id="navigation2" style="height: 288px;">
		<v-app id="inspire">
		  <v-treeview
		  mandatory
			activatable
			:items="items"
			:return-object="true"
			@click="piyo"
			@input="onInputed"
			@update:active="onSelected"
			@update:open="onOpened"
		  ></v-treeview>
		</v-app>
	</div>
</p>

<p>
	<h6 class="mt-3 border-bottom">vuetify Lists</h6>
	<!-- https://v2.vuetifyjs.com/ja/components/list-item-groups/#usage -->
	<!-- https://v2.vuetifyjs.com/ja/components/lists/ -->
	<!-- https://qiita.com/rubytomato@github/items/784a0eb013a9de1937bd -->
	<div id="navigation3" style="height: 352px;width: 400px;">
		<v-app id="inspire">
			<v-card
				class="mx-auto"
				width="400"
			>
				<v-list expand>
					<v-subheader>ナビゲーション</v-subheader>
					<v-list-group v-for="item in items" :key="item.text" no-action>
						<template v-slot:activator>
							<v-list-item-content>
								<v-list-item-title v-text="item.text"></v-list-item-title>
							</v-list-item-content>
						</template>
						<template v-for="node in item.nodes">
							<v-list-item :key="node.text" link>
								<v-list-item-content>
									<v-list-item-title v-text="node.text"></v-list-item-title>
								</v-list-item-content>
							</v-list-item>
						</template>
					</v-list-group>
				</v-list>
			</v-card>
		</v-app>
	</div>
</p>
<div style="float: right"></p><a href="{% url 'sample:parent_list' %}">親一覧へ</a></div>
{% endblock content %}

{% block extra_js %}
<script>
	var navigationData = JSON.parse('{{ navigation | safe }}');
    $('#navigation').treeview({
		data: navigationData,
		onNodeSelected: function(event, node) {
			document.getElementById('select_node1').innerHTML = node.text + ' が選択されました。';
		}
	});
	$('#navigation').on('nodeUnselected', function(event, node) {
			document.getElementById('select_node1').innerHTML = '選択が解除されました。';
		});
	$('#navigation').treeview('selectNode', [ 0 ]);
	$('#navigation').treeview('revealNode', 0);
</script>
<script>
	var navigationData2 = [];
	var index = 0;
	JSON.parse('{{ navigation | safe }}').forEach(function(parent){
		index++;
		var node = { id: index, name: parent.text, children: []};
		parent.nodes.forEach(function(child){
			index++;
			node.children.push({ id: index, name: child.text, children: []});
		});
		navigationData2.push(node);
	});

	var tree = new Vue({
		el: '#navigation2',
		vuetify: new Vuetify(),
		data: () => ({
			items: navigationData2,
		}),
        methods: {
			onInputed: function(nodes) {
				var index2 = 0;
        	},
			onSelected: function(nodes) {
				if(nodes.length){
      				document.getElementById('select_node2').innerHTML = nodes[0].name + ' が選択されました。';
				} else {
      				document.getElementById('select_node2').innerHTML = '選択が解除されました。';
				}
        	},
			onOpened: function(nodes) {

        	},
		},
	})
</script>
<script>
	var navigationData3 = JSON.parse('{{ navigation | safe }}');
	var list = new Vue({
		el: '#navigation3',
		vuetify: new Vuetify(),
		data: () => ({
			items: navigationData3,
			model: 0,
		}),
	})
</script>
{% endblock %}