{% extends "base.html" %}
{% load bootstrap4 %}

{% block extra_css %}
<style>
	.master_list {
		clear: both;
	}
	.v-application--wrap {
		min-height: 259px;
		max-height: 259px;
		overflow-y: scroll;
	}
	.v-list-item-group .v-list-item--active {
   		color: #1976d2;
	}
	.master_editor {
		clear: both;
		width: 100%;
	}
</style>

{% endblock %}
{% block extra_vuejs_tmp %}{% endblock %}

{% block title %}親一覧{% endblock title %}

{% block content %}
<h4 class="mt-4 border-bottom">親一覧</h4>
<div style="float: right; display:inline;">
	<p ><a href="{% url 'sample:navigation' %}">ナビゲーションへ</a></p>
	<!-- https://vuetifyjs.com/ja/components/lists/ -->
	<!-- https://vuetifyjs.com/ja/api/v-list-item/ -->
	<!-- https://v2.vuetifyjs.com/ja/components/list-item-groups/#usage -->
	<!-- https://v2.vuetifyjs.com/ja/components/lists/ -->
	<!-- https://qiita.com/rubytomato@github/items/784a0eb013a9de1937bd -->
</div>
<div id="palent_list" class="master_list">
	<v-app id="inspire">
		<v-card
			class="mx-auto"
			width="100%"
		>
			<v-list>
				<v-list-item-group 
					v-model="model"
				>
					<v-list-item
						class="border"
						v-for="(item, i) in items"
						:color=success
						:key="i"
						:link=true
						:href="item.link"
					>
					<v-list-item-content >
						<v-list-item-title v-text="item.id"></v-list-item-title>
					</v-list-item-content>
					<v-list-item-content>
						<v-list-item-title v-text="item.name"></v-list-item-title>
					</v-list-item-content>
					</v-list-item>
				</v-list-item-group>
			</v-list>
		</v-card>
	</v-app>
</div>
<div style="float: right">
	<!-- https://v4.bootstrap-guide.com/components/buttons -->
	<!-- https://v4.bootstrap-guide.com/utilities/borders -->
	<a href="{% url 'master:parent_new' %}" class="btn btn-primary btn-sm my-3">新規</a>
	{% if target_id %}
	<a href="{% url 'master:parent_del' target_id=target_id %}" class="btn btn-danger btn-sm">削除</a>
	{% else %}
	<a class="btn btn-danger btn-sm disabled">削除</a>
	{% endif %}
</div>

<div  class="master_editor">
    {% if target_id %}
    <form action="{% url 'master:parent_put' target_id=target_id %}" method="post">
	{% else %}
	<form action="{% url 'master:parent_add' %}" method="post">
	{% endif %}
		{% csrf_token %}
		{% bootstrap_form form show_label=True layout='horizontal' %}
		<div class="form-group row">
			<div class="offset-md-3 col-md-9">
			<button type="submit" class="btn btn-outline-success" style="float: right">
				{% if target_id %}
				更新
				{% else %}
				登録
				{% endif %}
			</button>
			</div>
		</div>
	</form>
</div>
{% endblock content %}
{% block extra_js %}
<script>
	var parentsList = new Vue({
		el: '#palent_list',
		vuetify: new Vuetify(),
		data: () => ({
			items: JSON.parse('{{ parent_list | safe }}'),
			model: Number('{{ target_id }}'),
		})
	})
</script>
{% endblock %}